.text-1 {
    font-size: 1rem;
}
.text-2 {
    font-size: 2rem;
}
.text-3 {
    font-size: 3rem;
}
.text-4 {
    font-size: 4rem;
}
.text-5 {
    font-size: 5rem;
}
.text-6 {
    font-size: 6rem;
}
.text-7 {
    font-size: 7rem;
}
.text-8 {
    font-size: 8rem;
}


.text-bold-1 {
    font-size: 1rem;
    font-weight: bold;
}
.text-bold-2 {
    font-size: 2rem;
    font-weight: bold;
}
.text-bold-3 {
    font-size: 3rem;
    font-weight: bold;
}
.text-bold-4 {
    font-size: 4rem;
    font-weight: bold;
}
.text-bold-5 {
    font-size: 5rem;
    font-weight: bold;
}
.text-bold-6 {
    font-size: 6rem;
    font-weight: bold;
}
.text-bold-7 {
    font-size: 7rem;
    font-weight: bold;
}
.text-bold-8 {
    font-size: 8rem;
    font-weight: bold;
}