:root {
    --color-blue-1: #000066;
    --color-white-1: #FFF;
    --color-black-1: #000;
    --color-black-2: #202020;
    --color-black-3: #333;
    --color-grey-1: #585858;
    --color-grey-2: #e5e5e5;
    --color-grey-3: #ddd;
    --color-grey-4: #777;
    /* #ebebeb */


    --text-1: 1rem;
    --text-2: 2rem;
    --text-3: 3rem;
    --text-4: 4rem;
    --text-5: 5rem;
    --text-6: 6rem;
    --text-7: 7rem;
    --text-8: 8rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Audiowide", sans-serif;
    /* font-family: "Sofia", sans-serif; */
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: -webkit-fill-available;
}

.title {
    font-size: var(--text-3);
    font-weight: bold;
    margin-bottom: 5rem;
    text-shadow: 10px 10px 10px var(--color-grey-1);
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ----------------------------------------------------------- */
/*                          CONTAINER                          */
/* ----------------------------------------------------------- */
.container {
    display: flex;
    min-height: 100vh;
}



/* ------------------------------------------------------------- */
/*                              SIDEBAR                          */
/* ------------------------------------------------------------- */
.sidebar {
    position: fixed;
    min-width: 15rem;
    background-color: var(--color-black-3);
    display: flex;
    align-items: center;
    flex: 1;
    padding: 5rem;
    min-height: -webkit-fill-available;
}

.sidebar ul li {
    font-size: 2rem;
    line-height: 5rem;
}

.sidebar ul li a {
    color: var(--color-white-1);
    transition: text-shadow 0.2s ease;
}

.sidebar ul li a:hover {
    font-size: 2.1rem;
    text-shadow: 10px 10px 5px var(--color-grey-1);
    transition: text-shadow 0.2s ease;
}




/* ------------------------------------------------------------------------ */
/*                              CONTENT WRAPPER                             */
/* ------------------------------------------------------------------------ */
.content-wrapper {
    margin-left: 25rem;
    min-height: -webkit-fill-available;
}

.content-wrapper>div {
    padding: 3rem;
}

.content-wrapper>div {
    height: max-content;
    min-height: 91vh;
}

.content-wrapper>div:nth-child(2n+1) {
    color: var(--color-black-2);
}

.content-wrapper>div:nth-child(2n) {
    background-color: var(--color-black-2);
    color: var(--color-white-1);
}


/* ---------------------------------------------------------------------- */
/*                              INTRODUCTION                              */
/* ---------------------------------------------------------------------- */
.content-wrapper .introduction {
    padding: 0 5rem;
    display: flex;
    align-items: center;
    flex: 1;
    min-height: 100vh;
}

.introduction .hello {
    font-weight: lighter;
    font-size: 3rem;
}

.introduction .name {
    font-size: 6rem;
    margin: 8rem 0 6rem 0;
    text-shadow: 10px 10px 15px var(--color-grey-1);
}

.introduction .identity {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.introduction .identity .years {
    font-weight: lighter;
}




/* ------------------------------------------------------------------ */
/*                              SERVICES                              */
/* ------------------------------------------------------------------ */




/* ------------------------------------------------------------------ */
/*                              SKILLS                                */
/* ------------------------------------------------------------------ */
.skills .summary {
    margin-bottom: 3rem;
}

.skills ul {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(8, 1fr);
}

.skills ul li {
    /* background-color: var(--color-grey-2); */
    background-color: var(--color-black-3);
    text-align: center;
    padding: 2rem 0rem;
    border-radius: 1rem;
    transition: box-shadow 0.8s ease;
}

.skills ul li:hover {
    box-shadow: 10px 10px 5px var(--color-grey-1);
    transition: box-shadow 0.8s ease;
}

.skills ul li img {
    width: 5rem;
}

.skills ul li .title {
    font-size: 1.2rem;
    text-shadow: none;
    color: var(--color-white-1);
}

.skills ul li .duration {
    font-weight: lighter;
    color: var(--color-grey-4);
}


.skills ul li .title,
.skills ul li .duration {
    margin: 0;
}



/* ------------------------------------------------------------------ */
/*                              EXPERIENCES                           */
/* ------------------------------------------------------------------ */
.experience .wrapper {
    padding: 0 5rem;
}

.experience ul li {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.experience ul li:nth-child(2n) {
    flex-direction: row-reverse;
}

.experience .logo-wrap,
.experience .info-wrap {
    display: flex;
    align-items: center;
}

.experience .logo-wrap {
    border-radius: 2rem;
    padding: 1rem;
    background: var(--color-white-1);
    transition: box-shadow 0.8s ease;
}

.experience .logo-wrap:hover {
    box-shadow: 10px 10px 10px var(--color-grey-4);
    transition: box-shadow 0.8s ease;
}

.experience .logo-wrap img {
    width: 8rem;
    height: 8rem;
}

.experience .info-wrap {
    display: flex;
    align-items: center;
}

.experience li:nth-child(2n) .info-wrap {
    text-align: right;
}

.experience .brand {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    transition: text-shadow 0.8s ease;
}

.experience .brand:hover {
    text-shadow: 10px 10px 10px var(--color-grey-4);
    transition: text-shadow 0.8s ease;
}

.experience .brand a {
    color: var(--color-white-1);
}

.experience .designation {
    font-size: 1.5rem;
}

.experience .duration {
    font-size: 1rem;
    font-weight: lighter;
}



/* ------------------------------------------------------------------ */
/*                              EDUCATION                             */
/* ------------------------------------------------------------------ */
.education ul li {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.education .degree {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.education .duration {
    font-size: 1.5rem;
    font-weight: lighter;
}

.education .university {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.education .score {
    font-size: 1rem;
    font-weight: lighter;
}



/* ------------------------------------------------------------ */
/*                          GET IN TOUCH                        */
/* ------------------------------------------------------------ */
.get-in-touch .wrapper {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.4rem;
}

.get-in-touch .connect-me-wrap {
    grid-column: 1 / 3;
}

.get-in-touch .contact-me-wrap,
.get-in-touch .social-media-wrap {
    margin-top: 4rem;
}

.get-in-touch .sub-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.get-in-touch .contact-me li {
    display: flex;
    margin: 1rem 0;
}

.get-in-touch .contact-me li img {
    height: 2.5rem;
    margin-right: 2rem;
}

.get-in-touch .contact-me li a {
    color: var(--color-white-1);
    font-style: italic;
}

.get-in-touch .contact-me li div {
    display: flex;
    align-items: center;
}

.get-in-touch .connect-me {
    display: flex;
    justify-content: center;
}

.get-in-touch .connect-me li {
    margin: 0 2rem;
}

.get-in-touch .connect-me li img {
    height: 3.5rem;
}

.get-in-touch iframe {
    height: 48vh;
    width: 100%;
}

