/* 
    ---------------------------------------------------------
                            BREAKPOINTS
    ---------------------------------------------------------
    Mobile screen (XS):		     320px  —    480px
    Tablet screen (S):		     481px  —    768px
    Laptop screen (M): 	         769px  —   1024px
    Desktop screen (L):		    1025px  —   1200px
    Extra large screen (XL):    1201px  —   ? 
*/



/* ----------------------------------------------------------- */
/*                      STATIC CONSTANTS                       */
/* ----------------------------------------------------------- */
:root {
    --NAVY-COLOR: #005;
    --MAROON-COLOR: #500;
    --GREEN-WHITE-COLOR: #055;
    --WHITE-COLOR: #FFF;
    --BLACK-COLOR: #000;
    --DARK-GREY-COLOR: #333;
    --DARK-GREY-2-COLOR: #666;
    --LIGHT-GREY-COLOR: #EEE;
    --LIGHT-GREY-2-COLOR: #AAA;

    --AUDIOWIDE-FONT: "Audiowide", sans-serif;
    --MONOSPACE-FONT: monospace;
    --KALAM-FONT: 'Kalam', cursive;

    --H1-FONTSIZE-XL: 3rem;
    --H1-FONTSIZE-S: 2rem;
    --H1-FONTSIZE-XS: 1.75rem;
    --H2-FONTSIZE-XL: 6rem;
    --H2-FONTSIZE-S: 4rem;
    --H2-FONTSIZE-XS: 3rem;
    --H3-FONTSIZE-XL: 2rem;
    --H3-FONTSIZE-S: 1.75rem;
    --H3-FONTSIZE-XS: 1.5rem;
    --H3-S-FONTSIZE-XL: 2rem;
    --H3-S-FONTSIZE-M: 1.5rem;
    --H3-S-FONTSIZE-XS: 1.25rem;
    --H4-FONTSIZE-XL: 3rem;
    --H4-FONTSIZE-M: 2.5rem;
    --H4-FONTSIZE-S: 2.25rem;
    --H4-FONTSIZE-XS: 2rem;
    --H5-FONTSIZE-XL: 2rem;
    --H5-FONTSIZE-S: 1.75rem;
    --H5-FONTSIZE-XS: 1.5rem;
    --H6-FONTSIZE-XL: 1.75rem;
    --H6-FONTSIZE-S: 1.5rem;
    --H6-FONTSIZE-XS: 1.25rem;
    --TITLE-FONTSIZE: 1.25rem;
    --CAPTION-FONTSIZE: 1.25rem;
    --CONTENT-FONTSIZE-XL: 1.5rem;
    --CONTENT-FONTSIZE-S: 1.25rem;
    --COPYRIGHT-FONTSIZE: 1rem;
    --BUTTON-FONTSIZE: 1rem;
    --PROGRESS-FONTSIZE-XL: 1rem;
    --PROGRESS-FONTSIZE-XS: 0.75rem;

    --H2-LINEHEIGHT-XL: 7rem;
    --H2-LINEHEIGHT-S: 5rem;
    --H2-LINEHEIGHT-XS: 4rem;
    --TITLE-LINEHEIGHT: 2rem;
    --SUBTITLE-LINEHEIGHT: 2rem;
    --CAPTION-LINEHEIGHT: 2rem;
    --CONTENT-LINEHEIGHT-XL: 2.5rem;
    --CONTENT-LINEHEIGHT-S: 2.25rem;
    --SIDEBAR-LINEHEIGHT: 4.5rem;
    --BUTTON-LINEHEIGHT: 1.5rem;

    --CONTAINER-PADDING-XL: 3rem;
    --CONTAINER-PADDING-S: 2rem;
    --CONTAINER-PADDING-XS: 1.25rem;

    --SIDEBAR-INNER-WIDTH: 13rem;

    --CONTENT-SHADOW-TRANSITION: text-shadow 0.5s ease;
    --BOX-SHADOW-TRANSITION: box-shadow 1s ease;
}



/* ----------------------------------------------------------- */
/*                       DYNAMIC CONSTANTS                     */
/* ----------------------------------------------------------- */
/* Common for all viewports */
:root {
    --SIDEBAR-FONTSTYLE: var(--AUDIOWIDE-FONT);
    --HEADING-FONTSTYLE: var(--AUDIOWIDE-FONT);
    --SUBTITLE-FONTSTYLE: var(--KALAM-FONT);
    --CAPTION-FONTSTYLE: var(--KALAM-FONT);
    --CONTENT-FONTSTYLE: var(--KALAM-FONT);
    --BUTTON-FONTSTYLE: var(--AUDIOWIDE-FONT);
    --COPYRIGHT-FONTSTYLE: var(--MONOSPACE-FONT);

    --THEME-COLOR: var(--NAVY-COLOR);
    --DARK-TITLE-COLOR: var(--DARK-GREY-COLOR);
    --LIGHT-TITLE-COLOR: var(--WHITE-COLOR);
    --DARK-CONTENT-COLOR: var(--DARK-GREY-2-COLOR);
    --LIGHT-CONTENT-COLOR: var(--WHITE-COLOR);
    --SIDEBAR-BG-COLOR: var(--THEME-COLOR);
    --SIDEBAR-CONTENT-COLOR: var(--LIGHT-CONTENT-COLOR);
    --LIGHT-CARDBOX-BG-COLOR: var(--LIGHT-GREY-COLOR);
    --LIGHT-CARDBOX-CONTENT-COLOR: var(--DARK-TITLE-COLOR);
    --DARK-SHADOW-COLOR: var(--DARK-GREY-2-COLOR);
    --LIGHT-SHADOW-COLOR: var(--LIGHT-GREY-2-COLOR);

    --DARK-CONTENT-SHADOW: 10px 10px 15px var(--DARK-SHADOW-COLOR);
    --LIGHT-CONTENT-SHADOW: 7px 7px 5px var(--LIGHT-SHADOW-COLOR);
    --DARK-BOX-SHADOW: 10px 10px 15px var(--DARK-SHADOW-COLOR);
    --LIGHT-BOX-SHADOW: 10px 10px 15px var(--LIGHT-SHADOW-COLOR);

    --SIDEBAR-WIDTH: calc(var(--SIDEBAR-INNER-WIDTH) + var(--CONTAINER-PADDING-XL)*2);
}

/* Only for XL */
:root {
    --H1-FONTSIZE: var(--H1-FONTSIZE-XL);
    --H2-FONTSIZE: var(--H2-FONTSIZE-XL);
    --H3-FONTSIZE: var(--H3-FONTSIZE-XL);
    --H3-S-FONTSIZE: var(--H3-S-FONTSIZE-XL);
    --H4-FONTSIZE: var(--H4-FONTSIZE-XL);
    --H5-FONTSIZE: var(--H5-FONTSIZE-XL);
    --H6-FONTSIZE: var(--H6-FONTSIZE-XL);
    --SUBTITLE-FONTSIZE: var(--CONTENT-FONTSIZE);
    --CONTENT-FONTSIZE: var(--CONTENT-FONTSIZE-XL);
    --PROGRESS-FONTSIZE: var(--PROGRESS-FONTSIZE-XL);

    --H2-LINEHEIGHT: var(--H2-LINEHEIGHT-XL);
    --CONTENT-LINEHEIGHT: var(--CONTENT-LINEHEIGHT-XL);

    --CONTAINER-PADDING: var(--CONTAINER-PADDING-XL);
}


/* Only for L */
@media screen and (max-device-width: 1200px) {
    :root {}
}


/* Only for M */
@media screen and (max-device-width: 1024px) {
    :root {
        --H3-S-FONTSIZE: var(--H3-S-FONTSIZE-M);
        --H4-FONTSIZE: var(--H4-FONTSIZE-M);
    }
}


/* Only for S */
@media screen and (max-device-width: 768px) {
    :root {
        --H1-FONTSIZE: var(--H1-FONTSIZE-S);
        --H2-FONTSIZE: var(--H2-FONTSIZE-S);
        --H3-FONTSIZE: var(--H3-FONTSIZE-S);
        --H4-FONTSIZE: var(--H4-FONTSIZE-S);
        --H5-FONTSIZE: var(--H5-FONTSIZE-S);
        --H6-FONTSIZE: var(--H6-FONTSIZE-S);
        --CONTENT-FONTSIZE: var(--CONTENT-FONTSIZE-S);

        --H2-LINEHEIGHT: var(--H2-LINEHEIGHT-S);
        --CONTENT-LINEHEIGHT: var(--CONTENT-LINEHEIGHT-S);

        --CONTAINER-PADDING: var(--CONTAINER-PADDING-S);
    }
}


/* Only for XS */
@media screen and (max-device-width: 480px) {
    :root {
        --H1-FONTSIZE: var(--H1-FONTSIZE-XS);
        --H2-FONTSIZE: var(--H2-FONTSIZE-XS);
        --H3-FONTSIZE: var(--H3-FONTSIZE-XS);
        --H3-S-FONTSIZE: var(--H3-S-FONTSIZE-XS);
        --H4-FONTSIZE: var(--H4-FONTSIZE-XS);
        --H5-FONTSIZE: var(--H5-FONTSIZE-XS);
        --H6-FONTSIZE: var(--H6-FONTSIZE-XS);
        --PROGRESS-FONTSIZE: var(--PROGRESS-FONTSIZE-XS);

        --H2-LINEHEIGHT: var(--H2-LINEHEIGHT-XS);

        --CONTAINER-PADDING: var(--CONTAINER-PADDING-XS);
    }
}



/* ----------------------------------------------------------- */
/*                     COMMON HTML ELEMENTS                    */
/* ----------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: var(--HEADING-FONTSTYLE);
    display: flex;
    align-items: center;
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
}



/* ----------------------------------------------------------- */
/*                            BUTTON                           */
/* ----------------------------------------------------------- */

.btn {
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: var(--BUTTON-FONTSTYLE);
    font-size: var(--BUTTON-FONTSIZE);
    font-weight: bold;
    line-height: var(--BUTTON-LINEHEIGHT);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--LIGHT-CONTENT-COLOR);
}

.btn-light {
    background-color: var(--LIGHT-CONTENT-COLOR);
    color: var(--THEME-COLOR);
    transition: var(--BOX-SHADOW-TRANSITION);
}

.btn-light:hover {
    box-shadow: var(--LIGHT-BOX-SHADOW);
    transition: var(--BOX-SHADOW-TRANSITION);
}

.btn-dark {
    background-color: var(--THEME-COLOR);
    color: var(--LIGHT-CONTENT-COLOR);
    transition: var(--BOX-SHADOW-TRANSITION);
}

.btn-dark:hover {
    box-shadow: var(--DARK-BOX-SHADOW);
    transition: var(--BOX-SHADOW-TRANSITION);
}

/* Mobile */
@media screen and (max-device-width: 480px) {
    .btn {
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
    }
}



/* ----------------------------------------------------------- */
/*                            PROGRESS                         */
/* ----------------------------------------------------------- */
.progress {
    overflow: hidden;
    height: 1.5rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--LIGHT-CONTENT-COLOR);
}

.progress-bar {
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--PROGRESS-FONTSIZE);
    color: var(--THEME-COLOR);
    background-color: var(--LIGHT-CONTENT-COLOR);
}

/* Mobile */
@media screen and (max-device-width: 480px) {
    .progress {
        height: 1.25rem;
    }
}



/* ----------------------------------------------------------- */
/*                            HEADER                           */
/* ----------------------------------------------------------- */
h1 {
    font-size: var(--H1-FONTSIZE);
}

h2 {
    font-size: var(--H2-FONTSIZE);
    line-height: var(--H2-LINEHEIGHT);
}

h3 {
    font-size: var(--H3-FONTSIZE);
}

h4 {
    font-size: var(--H4-FONTSIZE);
}

h5 {
    font-size: var(--H5-FONTSIZE);
}

h6 {
    font-size: var(--H6-FONTSIZE);
}



/* ----------------------------------------------------------- */
/*                  TITLE, SUBTITLE, CAPTION,                  */
/* ----------------------------------------------------------- */
.title {
    font-size: var(--TITLE-FONTSIZE);
    line-height: var(--TITLE-LINEHEIGHT);
}

.subtitle {
    font-family: var(--SUBTITLE-FONTSTYLE);
    font-size: var(--SUBTITLE-FONTSIZE);
    line-height: var(--SUBTITLE-LINEHEIGHT);
    font-weight: lighter;
}

.caption {
    font-family: var(--CAPTION-FONTSTYLE);
    font-size: var(--CAPTION-FONTSIZE);
    line-height: var(--CAPTION-LINEHEIGHT);
}



/* ----------------------------------------------------------- */
/*                              BODY                           */
/* ----------------------------------------------------------- */
/* Extra large -> Laptop */
body {
    margin: 0;
    font-size: var(--CONTENT-FONTSIZE);
    line-height: var(--CONTENT-LINEHEIGHT);
    word-break: break-word;
    font-weight: lighter;
}



/* ------------------------------------------------------------- */
/*                              SIDEBAR                          */
/* ------------------------------------------------------------- */
/* Extra large */
.sidebar {
    position: fixed;
    padding: var(--CONTAINER-PADDING);
    background-color: var(--SIDEBAR-BG-COLOR);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: -webkit-fill-available;
    font-family: var(--SIDEBAR-FONTSTYLE);
}

.sidebar ul {
    min-width: var(--SIDEBAR-INNER-WIDTH);
}

.sidebar ul li a {
    color: var(--SIDEBAR-CONTENT-COLOR);
    transition: var(--CONTENT-SHADOW-TRANSITION);
}

.sidebar ul li a:hover {
    text-shadow: var(--LIGHT-CONTENT-SHADOW);
    transition: var(--CONTENT-SHADOW-TRANSITION);
}

.sidebar ul li .sidebar-item {
    display: flex;
    align-items: center;
    line-height: var(--SIDEBAR-LINEHEIGHT);
}

.sidebar ul li .sidebar-item svg {
    height: 1.25rem;
    fill: var(--LIGHT-CONTENT-COLOR);
    margin-right: 0.5rem
}

/* Desktop -> Mobile */
@media screen and (max-device-width: 1200px) {
    .sidebar {
        display: none;
    }
}



/* ------------------------------------------------------------------------ */
/*                              BODY CONTAINER                              */
/* ------------------------------------------------------------------------ */
/* Extra large */
.body-container {
    position: absolute;
    left: var(--SIDEBAR-WIDTH);
}

/* Desktop -> Mobile */
@media screen and (max-device-width: 1200px) {
    .body-container {
        left: 0;
    }
}



/* ------------------------------------------------------------------------ */
/*                  SECTION CONTAINER, TITLE & CONTENT WRAPPER              */
/* ------------------------------------------------------------------------ */
/* Extra large -> Laptop */
.section-container {
    padding: var(--CONTAINER-PADDING);
    min-height: calc(100vh - var(--CONTAINER-PADDING)*2);
    display: flex;
    flex-direction: column;
}

.section-container:nth-child(2n+1),
.section-container:nth-child(2n+1) a:not(.btn) {
    color: var(--DARK-CONTENT-COLOR);
}

.section-container:nth-child(2n),
.section-container:nth-child(2n) a:not(.btn) {
    background-color: var(--THEME-COLOR);
    color: var(--LIGHT-CONTENT-COLOR);
}

/* Extra large -> Desktop */
.section-title {
    margin-bottom: 4rem;
}

.section-container:nth-child(2n+1) .section-title {
    color: var(--DARK-TITLE-COLOR);
}

.section-container:nth-child(2n) .section-title {
    color: var(--LIGHT-TITLE-COLOR);
}

.section-title svg {
    height: 2.25rem;
}

.section-content-wrapper {
    flex: 1;
    font-family: var(--CONTENT-FONTSTYLE);
}

/* Laptop */
@media screen and (max-device-width: 1024px) {
    .section-title {
        margin-bottom: 3rem;
    }
}

/* Tab */
@media screen and (max-device-width: 768px) {
    .section-title {
        margin-bottom: 2.5rem;
    }
}

/* Mobile */
@media screen and (max-device-width: 480px) {
    .section-title {
        margin-bottom: 2rem;
    }
}



/* ----------------------------------------------------------------- */
/*                              WELCOME                              */
/* ----------------------------------------------------------------- */
#welcome .section-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome .hello-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* Extra Large -> Laptop */
#welcome .img-wrap {
    background: var(--LIGHT-CARDBOX-BG-COLOR);
    border-radius: 1.5rem;
    height: 12.5rem;
    overflow: hidden;
}

/* Extra Large -> Laptop */
#welcome .img-wrap img.avatar {
    height: 12.5rem;
    border-radius: 1.5rem;
    top: 1.25rem;
    position: relative;
}

/* Extra Large -> Laptop */
#welcome .hello {
    font-weight: lighter;
}

/* Extra Large -> Laptop */
#welcome .name {
    color: var(--DARK-TITLE-COLOR);
    margin: 8rem 0 6rem 0;
    text-shadow: var(--DARK-CONTENT-SHADOW);
}

/* Extra large -> Desktop */
#welcome .identity {
    display: flex;
    justify-content: space-between;
    color: var(--DARK-TITLE-COLOR);
}

#welcome .identity .years {
    font-weight: lighter;
    font-size: var(--H3-S-FONTSIZE);
}

/* Laptop -> Mobile */
@media screen and (max-device-width: 1024px) {
    #welcome .identity {
        display: block;
    }

    #welcome .identity .years {
        margin-top: 1rem;
    }
}

/* Tab */
@media screen and (max-device-width: 768px) {
    #welcome .img-wrap img.avatar,
    #welcome .img-wrap {
        height: 8.5rem;
    }

    #welcome .name {
        margin: 6rem 0 4rem 0;
    }
}

/* Mobile */
@media screen and (max-device-width: 480px) {
    #welcome .img-wrap {
        height: 6rem;
    }

    #welcome .img-wrap img.avatar {
        height: 6rem;
        top: 0.5rem;
    }
}



/* ------------------------------------------------------------------ */
/*                              SUMMARY                               */
/* ------------------------------------------------------------------ */
#summary p {
    margin-bottom: 2rem;
}

#summary .highlight {
    font-weight: bold;
}

#summary a.highlight {
    text-decoration: underline;
}

#summary .cv-wrap {
    text-align: right;
    display: flex;
    justify-content: center;
}

#summary .cv-wrap svg {
    height: 1.5rem;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
}



/* ------------------------------------------------------------------ */
/*                              SERVICES                              */
/* ------------------------------------------------------------------ */
#services .service-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#services ul li {
    background-color: var(--LIGHT-CARDBOX-BG-COLOR);
    text-align: center;
    padding: 1.25rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: var(--BOX-SHADOW-TRANSITION);
    color: var(--LIGHT-CARDBOX-CONTENT-COLOR);
}

#services ul li:hover {
    box-shadow: var(--DARK-BOX-SHADOW);
    transition: var(--BOX-SHADOW-TRANSITION);
}

/* Extra large -> Tab */
#services ul li img {
    width: 3rem;
}

#services ul li svg {
    height: 4rem;
}

#services ul li .title {
    display: flex;
    justify-content: center;
}

#services ul li .caption {
    margin: 1rem 0 0;
}

/* Laptop */
@media screen and (max-device-width: 1024px) {
    #services .service-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet */
@media screen and (max-device-width: 768px) {
    #services .service-items {
        grid-template-columns: repeat(1, 1fr);
    }
}



/* ------------------------------------------------------------------ */
/*                              SKILLS                                */
/* ------------------------------------------------------------------ */
#skills .skill-type-sec {
    margin-top: 2.5rem;
}

#skills .skill-type {
    margin-bottom: 1rem;
}

#skills .skill-wrap {
    display: grid;
    grid-template-columns: 20% calc(80% - 1rem);
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

#skills .img-text-wrap {
    display: flex;
    align-items: center;
    justify-content: end;
}

#skills .skill-wrap .img-wrap {
    background: var(--LIGHT-CONTENT-COLOR);
    padding: 0.25rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

#skills .skill-wrap img {
    height: 1rem;
}


/* Desktop */
@media screen and (max-device-width: 1200px) {
    #skills .skill-wrap {
        grid-template-columns: 17% calc(83% - 1rem);
    }
}

/* Laptop */
@media screen and (max-device-width: 1024px) {
    #skills .skill-wrap {
        grid-template-columns: 24% calc(76% - 1rem);
    }
}

/* Tablet */
@media screen and (max-device-width: 768px) {
    #skills .skill-wrap {
        grid-template-columns: 8% calc(92% - 0.5rem);
        margin: 1rem 0;
        gap: 0.5rem;
    }

    #skills .subtitle {
        display: none;
    }
}

/* Mobile */
@media screen and (max-device-width: 480px) {
    #skills .skill-content {
        margin-bottom: -1rem;
    }

    #skills .skill-wrap {
        grid-template-columns: 12% calc(88% - 0.25rem);
        margin: 1rem 0;
        gap: 0.25rem;
    }

    #skills .skill-wrap img {
        height: 1rem;
    }
}



/* ------------------------------------------------------------------ */
/*                              EXPERIENCES                           */
/* ------------------------------------------------------------------ */
#experience .duration {
    text-align: right;
}

#experience .experience-item {
    margin: 1.25rem 0;
    display: flex;
    align-items: center;
}

/* Extra large -> Laptop */
#experience ul li img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

#experience .brand {
    transition: var(--CONTENT-SHADOW-TRANSITION);
}

#experience .brand:hover {
    text-shadow: var(--LIGHT-CONTENT-SHADOW);
    transition: var(--CONTENT-SHADOW-TRANSITION);
}

#experience .designation {
    font-weight: lighter;
    margin-top: 0.5rem;
}

/* Tablet -> Mobile */
@media screen and (max-device-width: 768px) {
    #experience ul li img {
        display: none;
    }
}



/* ------------------------------------------------------------------ */
/*                              PROJECTS                              */
/* ------------------------------------------------------------------ */
#projects ul li {
    margin-bottom: 3rem;
}

#projects .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

#projects .technologies {
    margin-top: 1.25rem;
}

/* Tablet */
@media screen and (max-device-width: 768px) {
    #projects .heading {
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }
}



/* ------------------------------------------------------------------ */
/*                              EDUCATION                             */
/* ------------------------------------------------------------------ */
#education .duration {
    text-align: right;
}

#education .education-item {
    margin-top: 0.5rem;
}

#education .degree {
    font-weight: lighter;
}

#education .university {
    transition: var(--CONTENT-SHADOW-TRANSITION);
    font-weight: lighter;
    margin-top: 1rem;
}

#education .university:hover {
    text-shadow: var(--DARK-CONTENT-SHADOW);
    transition: var(--CONTENT-SHADOW-TRANSITION);
}

#education .score {
    font-weight: bold;
    margin-top: 1rem;
}



/* ------------------------------------------------------------------ */
/*                          CERTIFICATES                              */
/* ------------------------------------------------------------------ */
#certificates .category {
    margin-bottom: 1rem;
}

#certificates .category svg {
    height: 1.3rem;
    fill: var(--LIGHT-CONTENT-COLOR);
    margin-right: 0.5rem;
}

#certificates .categories>li:last-child {
    margin-top: 4rem;
}

#certificates li .issuer {
    margin-top: 0.25rem;
}

/* Extra large -> Desktop */
.certificate-groups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}

.certificate-groups li img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}


/* Laptop */
@media screen and (max-device-width: 1024px) {
    .certificate-groups {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media screen and (max-device-width: 480px) {
    .certificate-groups {
        grid-template-columns: repeat(1, 1fr);
    }
}



/* ------------------------------------------------------------------ */
/*                             ABOUT ME                               */
/* ------------------------------------------------------------------ */
#about-me p:not(:last-child) {
    margin-bottom: 2rem;
}

/* Tablet */
@media screen and (max-device-width: 768px) {
    #about-me p:not(:last-child) {
        margin-bottom: 1.25rem;
    }
}



/* ------------------------------------------------------------ */
/*                          GET IN TOUCH                        */
/* ------------------------------------------------------------ */
#get-in-touch.section-container {
    padding-bottom: 0;
    min-height: calc(100vh - var(--CONTAINER-PADDING));
}

#get-in-touch .section-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#get-in-touch .big-thank-you {
    margin-top: calc(var(--CONTAINER-PADDING) - 1rem);
    font-size: var(--H2-FONTSIZE);
    font-family: var(--CONTENT-FONTSTYLE);
}

#get-in-touch li a {
    display: flex;
    align-items: center;
    width: fit-content;
    transition: var(--CONTENT-SHADOW-TRANSITION);
}

#get-in-touch .contacts li a:hover {
    text-shadow: var(--LIGHT-CONTENT-SHADOW);
    transition: var(--CONTENT-SHADOW-TRANSITION);
}

#get-in-touch .contacts svg {
    fill: var(--LIGHT-CONTENT-COLOR);
    height: 1.5rem;
    margin-left: 1rem;
}

#get-in-touch .svg-phone {
    scale: 0.75;
}

#get-in-touch address {
    font-style: normal;
}

#get-in-touch .social-networks-wrap {
    display: flex;
    justify-content: center;
}

#get-in-touch ul.social-networks {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    width: fit-content;
}

#get-in-touch ul.social-networks li {
    display: flex;
    justify-content: center;
}

#get-in-touch .section-content-wrapper ul.social-networks a {
    background-color: var(--LIGHT-CONTENT-COLOR);
    border-radius: 0.5rem;
}

#get-in-touch ul.social-networks svg {
    fill: var(--THEME-COLOR);
    height: 2.5rem;
    width: 2.5rem;
    scale: .7;
}

#get-in-touch ul.social-networks .svg-outlook {
    scale: .9;
}

#get-in-touch ul.social-networks .svg-instagram {
    scale: .8;
}

#get-in-touch .copyright-text {
    width: inherit;
    text-align: center;
    font-size: var(--COPYRIGHT-FONTSIZE);
    font-family: var(--COPYRIGHT-FONTSTYLE);
}

/* Laptop */
@media screen and (max-device-width: 1024px) {
    #get-in-touch .contacts svg {
        height: 1.25rem;
    }

    #get-in-touch .section-content-wrapper ul.social-networks a {
        border-radius: 0.25rem;
    }

    #get-in-touch ul.social-networks svg {
        height: 2.5rem;
        width: 2.5rem;
    }
}

/* Tablet */
@media screen and (max-device-width: 768px) {
    #get-in-touch ul.social-networks {
        gap: 1.5rem;
    }

    #get-in-touch ul.social-networks svg {
        height: 2rem;
        width: 2rem;
    }
}

/* Mobile */
@media screen and (max-device-width: 480px) {
    #get-in-touch .contacts svg {
        display: none;
    }

    #get-in-touch ul.social-networks {
        gap: 1rem;
    }

    #get-in-touch ul.social-networks svg {
        height: 1.5rem;
        width: 1.5rem;
    }
}